<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Atendimento 
    <ion-icon expand="block" name="people-circle-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>SENHA<p>
  <ion-card class="center">
    <h1>{{SenhasService.senhaAtual.Tipo}} {{SenhasService.senhaAtual.numero}}</h1>
  </ion-card>
  <ion-button expand="block" (click)="SenhasService.atenderSenha()">ATENDER</ion-button>
    
  <ion-card>
    <ion-label>Guiche 1</ion-label>
    <ion-item>{{SenhasService.guicheUm.Tipo}}{{SenhasService.guicheUm.numero}} -- Tempo de espera: {{SenhasService.guicheUm.Ta}} minutos</ion-item>
  </ion-card>
  <ion-card>
    <ion-label>Guiche 2</ion-label>
    <ion-item>{{SenhasService.guicheDois.Tipo}}{{SenhasService.guicheDois.numero}} --  Tempo de espera: {{SenhasService.guicheDois.Ta}} minutos </ion-item>
  </ion-card>
  <ion-card>
    <ion-label>Guiche 3</ion-label>
    <ion-item>{{SenhasService.guicheTres.Tipo}}{{SenhasService.guicheTres.numero}}  -- Tempo de espera: {{SenhasService.guicheTres.Ta}} minutos</ion-item>
  </ion-card>
</ion-content>
