ion-content {
    --background: #f8f9fa;
}

ion-item.custom-item {
    --background: #e0f7fa;
    --color: #606060;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.card {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #e0f7fa;
}

.title, .title2{
    text-align: center;
    color: #000000;
    font-weight: bold;
}

ion-item ion-chip {
    background: none;
    --color: #000000;
    --ion-color-base: transparent;
}

.custom-blue {
    --background: #007bff; 
    --background-activated: #0056b3;
    --background-focused: #0056b3;
    --color: #ffffff;
  }
  
  .custom-green {
    --background: #28a745; 
    --background-activated: #1e7e34;
    --background-focused: #1e7e34;
    --color: #ffffff;
  }
  
  .custom-yellow {
    --background: #ffc107; 
    --background-activated: #e0a800;
    --background-focused: #e0a800;
    --color: #000000;
  }
  