<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicie seu atendimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="title" >
    <h2>Gerar senha:</h2>
  </ion-text>
  <ion-card name="card" class="card">
    <ion-button class="custom-green">Exames</ion-button>
    <ion-button class="custom-yellow">Geral</ion-button>
    <ion-button class="custom-blue">Prioritaria</ion-button>
  </ion-card>
  
  <ion-text class="title2" >
    <h2>Senha atual:</h2>
  </ion-text>
  <ion-card>
    <ion-list>
      <ion-item class="custom-item">
        <ion-chip>
         <ion-avatar>
           <img alt="Avatar 1" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
         </ion-avatar>
         <ion-label>240415SG04</ion-label>
          </ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>
  
  <ion-text class="title2" >
    <h2>Últimas senhas chamadas</h2>
  </ion-text>
  
<ion-card name="avatar">
  <ion-list>
    
    <ion-item class="custom-item">
     <ion-chip>
      <ion-avatar>
        <img alt="Avatar 1" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>240415SG03</ion-label>
       </ion-chip>
   </ion-item>

   <ion-item class="custom-item">
    <ion-chip>
      <ion-avatar>
        <img alt="Avatar 2" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>240415SE02</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item class="custom-item">
    <ion-chip>
      <ion-avatar>
        <img alt="Avatar 3" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>240415SP03</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item class="custom-item">
    <ion-chip>
      <ion-avatar>
        <img alt="Avatar 5" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>240415SG02</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item class="custom-item">
    <ion-chip>
      <ion-avatar>
        <img alt="Avatar 6" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>240415SE01</ion-label>
    </ion-chip>
  </ion-item>
  </ion-list>
</ion-card>
</ion-content>
