.selected-message {margin-top: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b0ffa9; 
    color: black;
    font-weight: 600;
    padding: 10px; 
    text-align: center; 
    z-index: 9999; 
  }
  

  ion-card {
    position: relative;
  }
  
  ion-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .remove-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
  }
