.fab-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 12%;
  left: 25%;
  width: 50%;
  z-index: 10;
}
.camera {
  margin-right: 10%;
}
.batalha {
  margin-left: 10%;
}

