ion-content{
    --background:none;
    background:  linear-gradient(0deg, rgba(55,47,180,1) 0%, rgba(141,141,227,1) 100%);
    background-size:cover ;
    background-repeat:no-repeat ;
    background-position: center top;
  }

  ion-chip{
    background:none;
}


.card{
    display: flex;
    justify-content: center;
    padding: 5px;
 }
 
 .title{
     text-align: center;
     color: #000000;
     font-weight: bold;
 }
 