<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visualizar relatórios:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="custom-list">
    <ion-item class="custom-item">
      <ion-label>Total de Atendimentos Realizados: 7 </ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Atendimentos Prioritários Completados: 3</ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Total de Atendimentos Gerais: 4 </ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Atendimentos de Exames Finalizados: 2 </ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Total de Senhas Distribuídas: 7 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
