.custom-img {
    width: 24px;
    height: 24px;
  }
  

  ion-content {
    --background: url('https://e0.pxfuel.com/wallpapers/281/471/desktop-wallpaper-minimal-pokemon-go-for-iphone-8-plus-pokemongo-minimal-pokeball.jpg') no-repeat center center / cover;
  }

 