<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Relatórios
     <ion-icon expand="block" name="file-tray-stacked-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

 



<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Relatorios:</ion-card-subtitle>
    <p>Senhas Emitidas:{{SenhasService.Senhaemitidas}} </p>
    <p>Senhas Atendidas: {{SenhasService.SenhaAtendidasTotal}}  </p>
    <p>Senhas Emitidas por prioridade: {{SenhasService.SenhaemitidasPrio}}</p>
    <p>Senhas Atendidas por Prioridade: {{SenhasService.SenhaAtendidasPrio}}</p>
    <ion-label>Relatório de tempo médio:</ion-label>
    <ion-item>Tempo medio Prioritárias:{{SenhasService.tempoMedioPrio()}}</ion-item>
    <ion-item>Tempo medio Exame:{{SenhasService.tempoMedioE()}}</ion-item>
    <ion-item>Tempo medio Geral:{{SenhasService.tempoMedioG()}}</ion-item>
    <ion-label>Relatório senhas Prioritárias</ion-label>
    <ion-item *ngFor = 'let senha of SenhasService.senhasPri'>
      <p>Senha: {{senha.numero}};<br>
        Tipo: {{senha.Tipo}}; <br>
         Data da Emissão: {{senha.Dia}}/{{senha.mes}}/{{senha.Ano}}; <br>
         Data do Atendimento: {{senha.Dia}}/{{senha.mes}}/{{senha.Ano}}; <br>
         Guiche: {{senha.guiche}};<br>
         Hora da Emissão: {{senha.He}}:{{senha.Me}};<br> 
        Hora do Atendimento: {{senha.Ha}}:{{senha.Ma}}</p>
    </ion-item>
    <ion-label>Relatório senhas Exame</ion-label>
    <ion-item *ngFor = 'let senha of SenhasService.senhasE'>
      <p>Senha: {{senha.numero}};<br>
        Tipo: {{senha.Tipo}}; <br>
         Data da Emissão: {{senha.Dia}}/{{senha.mes}}/{{senha.Ano}}; <br>
         Data do Atendimento: {{senha.Dia}}/{{senha.mes}}/{{senha.Ano}}; <br>
         Guiche: {{senha.guiche}};<br>
         Hora da Emissão: {{senha.He}}:{{senha.Me}};<br> 
        Hora do Atendimento: {{senha.Ha}}:{{senha.Ma}}</p>
    </ion-item>
    <ion-label>Relatório senhas Gerais</ion-label>
    <ion-item *ngFor = 'let senha of SenhasService.senhasG'>
      <p>Senha: {{senha.numero}};<br>
        Tipo: {{senha.Tipo}}; <br>
         Data da Emissão: {{senha.Dia}}/{{senha.mes}}/{{senha.Ano}}; <br>
         Data do Atendimento: {{senha.Dia}}/{{senha.mes}}/{{senha.Ano}}; <br>
         Guiche: {{senha.guiche}};<br>
         Hora da Emissão: {{senha.He}}:{{senha.Me}};<br> 
        Hora do Atendimento: {{senha.Ha}}:{{senha.Ma}}</p>
    </ion-item>

    
  </ion-card-header>
</ion-card>
</ion-content>
